[user]
	email = githubmail
	name = githubname
[alias]
	st = status
	ck = checkout
	co = commit -m
	ps = push origin
	pl = pull origin
	fo = fetch origin
[url "git@github.com:"]
	insteadOf = https://github.com/
